:root {
    --text-color: #aaa;
    --main-color: #f6142eda;
    --main-color-dark: #f6143e;
    --bottom-bar-duration: 0.3s;
}

::-webkit-scrollbar {
    width: 7px; /* 滑动条的宽度 */
    height: 7px; /* 滑动条的高度 */
} /* 滑动条轨道样式 */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* 轨道背景颜色 */
} /* 滑动条拇指样式 */
::-webkit-scrollbar-thumb {
    background: #ccc; /* 拇指颜色 */
    border-radius: 6px; /* 拇指圆角 */
} /* 滑动条拇指在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
    background: #999; /* 拇指悬停时的颜色 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    overscroll-behavior: contain;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
    &:-moz-drag-over {
        cursor: inherit;
    }
}
