:root {
    --text-color: #aaa;
    --main-color: #f6142eda;
    --main-color-dark: #f6143e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
    &:-moz-drag-over {
        cursor: inherit;
    }
}

